body{
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
}

#main-content {
    display: none;
}

#warning-box {
    margin-top: 20px;
    text-align: center;
    font-family: Helvetica;
}

.landing-page {
    text-align: left;
    margin-top: 5rem;
    padding: 2em;
    max-width: 700px;
    min-width: 500px;
    background-color: rgba(252, 248, 232, 0.9);
}

#result-table {
    display: table;
    text-align: left;
    font-family: Helvetica;
    font-size: 30pt;
}

#landing-page {
    font-size: 13pt;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}